Host aws
HostName 18.228.134.183
User ubuntu
Port 22
IdentityFile "~/Documents/Apps Config/wskey.pem"

Host rpi
HostName 192.168.15.3
User ubuntu
Port 22

Host pitunnel
HostName pitunnel.com
User ubuntu
Port 37209
